body {
  background-color: green;
}
#bottom {
  font-family: "Arial";
  background-color: purple;
  color: white;
  height: 15%;
}
#text {
  font-size: 1.5em;
  color: purple;
  font-family: "Arial";
}
#button {
  background-color: green;
  color: purple;
  border-color: purple;
}
#copyright {
  font-family: "Arial";
  text-align: right;
  font-size: 0.7em;
  color: purple;
}
