/* UI for PCs */
@media (min-width: 1000px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('files/background.jpg');
        background-size: cover;
        color: white;
        height: 100%;
        text-shadow: 0px 0px 10px black;
        background-attachment: fixed;
    }
    .align {
        display: flex;
        align-items: center;
    }
    .button {
        text-decoration: none;
        background-color: rgba(165, 44, 0, 0.6);
        backdrop-filter: blur(4px);
        color: white;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        text-shadow: none;
        transition: all 0.3s ease;
    }
    .icon {
        width: 50px;
        height: 50px;
    }
    .bold {
        font-weight: bold;
    }
    b {
        margin-top: 10px;
    }
    input {
        background-color: rgb(105, 28, 0);
        border-radius: 5px;
        color: white;
        border-style: none;
    }
    a {
        text-decoration: none;
        background-color: rgba(211, 56, 0, 0.6);
        backdrop-filter: blur(4px);
        color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        text-shadow: none;
        margin-left: 10px;
    }
    a:hover {
        background-color: rgba(105, 28, 0, 0.6);
        backdrop-filter: blur(4px);
    }
    .button:hover {
        background-color: rgba(77, 20, 0, 0.6);
        backdrop-filter: blur(4px);
    }
    .reposButtons {
        height: 30px;
        width: 280px;
    }
    .separation {
        background-color: white;
        margin: 30px;
        margin-left: 0;
        height: 5px;
        width: 140px;
        border-radius: 5px;
    }
    #toolBar {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index:100;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100px;
        align-items: center;
        background: rgb(211,56,0);
        background: linear-gradient(180deg, rgba(211,56,0,0.6) 0%, rgba(113, 30, 0, 0.6) 100%);
        backdrop-filter: blur(4px);
        text-shadow: none;
        color: white;
        overflow-y: auto;
    }
    #downloadPageRedirect {
        height: 30px;
        width: 300px;
    }
    #redirectTo {
        position: fixed;
        text-shadow: none;
        right: 120px;
        top: 150px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #exitConfirm {
        position: fixed;
        text-shadow: none;
        right: 120px;
        top: 260px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #sysInfo {
        position: fixed;
        text-shadow: none;
        right: 120px;
        top: 370px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #redirectToInput {
        width: 180px;
        height: 20px;
        margin-right: 10px;
    }
    #redirectButton {
        margin-top: 9px;
    }
    #sysInfoButton {
        width: 80px;
    }
    #leftDiv {
        position: absolute;
        text-align: right;
        right: 120px;
        top: 10px;
    }
    #wordOfTheDayButton {
        width: 80px;
    }
    #wordOfTheDay {
        position: fixed;
        text-shadow: none;
        right: 120px;
        top: 496px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    @keyframes colorfulText {
        0% {
            color: rgb(255, 0, 0);
        }
        50% {
            color: rgb(0, 255, 0);
        }
        100% {
            color: rgb(0, 0, 255);
        }
    }
    .animateText {
        animation: colorfulText 2s infinite alternate;
        font-weight: bold;
    }
}

/* UI for phones */
@media (max-width: 999px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('files/background.jpg');
        background-size: cover;
        color: white;
        height: 100%;
        text-shadow: 0px 0px 10px black;
        background-attachment: fixed;
        text-align: justify;
    }
    .align {
        display: flex;
        align-items: center;
    }
    .button {
        text-decoration: none;
        background-color: rgba(165, 44, 0, 0.6);
        backdrop-filter: blur(4px);
        color: white;
        border-radius: 8px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        text-shadow: none;
        transition: all 0.3s ease;
        margin-left: 10px;
        margin-right: 10px;
    }
    .icon {
        width: 50px;
        height: 50px;
    }
    .bold {
        font-weight: bold;
    }
    b {
        margin-top: 10px;
    }
    input {
        background-color: rgb(105, 28, 0);
        border-radius: 5px;
        color: white;
        border-style: none;
    }
    a {
        text-decoration: none;
        background-color: rgba(211, 56, 0, 0.6);
        backdrop-filter: blur(4px);
        color: white;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        text-shadow: none;
        margin-left: 10px;
    }
    a:hover {
        background-color: rgba(105, 28, 0, 0.6);
        backdrop-filter: blur(4px);
    }
    .button:hover {
        background-color: rgba(77, 20, 0, 0.6);
        backdrop-filter: blur(4px);
    }
    .reposButtons {
        height: 30px;
        width: 280px;
    }
    .separation {
        background-color: white;
        margin: 30px;
        margin-left: 0;
        height: 5px;
        width: 140px;
        border-radius: 5px;
    }
    #toolBar {
        font-size: 0em;
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index:100;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: center;
        background: rgb(211,56,0);
        background: linear-gradient(180deg, rgba(211,56,0,0.6) 0%, rgba(113, 30, 0, 0.6) 100%);
        backdrop-filter: blur(4px);
        text-shadow: none;
        color: white;
        overflow-x: auto;
    }
    #downloadPageRedirect {
        height: 30px;
        width: 300px;
    }
    #redirectTo {
        font-size: 1em;
        position: fixed;
        text-shadow: none;
        bottom: 110px;
        left: 10px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #exitConfirm {
        position: fixed;
        text-shadow: none;
        bottom: 110px;
        left: 10px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #sysInfo {
        position: fixed;
        text-shadow: none;
        bottom: 110px;
        left: 10px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #wordOfTheDay {
        position: fixed;
        text-shadow: none;
        bottom: 110px;
        left: 10px;
        width: 250px;
        border-radius: 10px;
        background-color: rgba(211, 56, 0, 0.7);
        backdrop-filter: blur(4px);
        color: white;
    }
    #redirectToInput {
        width: 180px;
        height: 20px;
        margin-right: 10px;
    }
    #redirectButton {
        margin-top: 9px;
    }
    #sysInfoButton {
        width: 80px;
    }
    #leftDiv {
        margin-top: 50px;
        margin-bottom: 120px;
    }
    @keyframes colorfulText {
        0% {
            color: rgb(255, 0, 0);
        }
        50% {
            color: rgb(0, 255, 0);
        }
        100% {
            color: rgb(0, 0, 255);
        }
    }
    .animateText {
        animation: colorfulText 2s infinite alternate;
        font-weight: bold;
    }
}